[submodule "yuv2rgb"]
	path = yuv2rgb
	url = https://github.com/andrechen/yuv2rgb.git
[submodule "uchiya"]
	path = uchiya
	url = https://github.com/chili-epfl/ARUchiya.git
[submodule "QtOpenCV"]
	path = QtOpenCV
	url = https://github.com/dbzhang800/QtOpenCV.git
[submodule "qml-imu"]
	path = qml-imu
	url = https://github.com/chili-epfl/qml-imu.git
[submodule "GraphicBuffer"]
	path = GraphicBuffer
	url = https://github.com/fuyufjh/GraphicBuffer.git
