{
  "markers": [
    {
      "name": "blue one at the top",
      "id": 5,
      "x_mm": 1.4,
      "y_mm": 111,
      "size_mm": 600
    },
    {
      "name": "red one in the middle",
      "id": 8,
      "x_mm": 122.1,
      "y_mm": 100,
      "size_mm": 150
    }
  ]
}
